<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org" style="width: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="height: 100%; margin: 0">
	<div class="container" style="height: 100%; margin: 0;display: flex;margin-top: 10%;">
		<div id="left" style="height: 400%; width: 40%;"></div>
		<div id="right" style="height: 400%; width: 40%;"></div>
	</div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/echarts.js}"></script>
	<script type="text/javascript">
		var myChart = echarts.init(document.getElementById('right'));
		var myChart2 = echarts.init(document.getElementById('left'));

		const data = [];
		const option = {
			title: {
				text: "流量数据实时监测",
				x:"center",
				link: "https://echarts.apache.org/examples/zh/editor.html?c=dynamic-data2"
			},
			tooltip: {
				show: true,
				trigger: "axis",
				formatter: function(params) {
					param = params[0];
					const date = new Date(param.value[0]);
					const formatedDate = `${date.getFullYear()}.${date.getMonth() + 1}.${date.getDate()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}.${date.getMilliseconds()}`
					return `<div>时间：${formatedDate}</div>` + `<div>数据：${param.value[1]}</div>`
				},
				axisPointer: {
					animation: false
				}
			},
            xAxis: {
                type: 'time',
                name: '时间',
                splitLine: {
                    show: false
                }
            },
			yAxis: {
				type: 'value',
				name:'数据(个)',
				boundaryGap: [ 0, "100%"],
				axisTick:{
					show: true
				},
				axisLine: {
					show: true
				},
				splitLine: {
					show: false
				}
			},
			series: [{
				type: "line",
				name: "",
				showSymbol: false,
				areaStyle: {
					color: {
						type: 'linear',
						x: 0,
						y: 0,
						x2: 0,
						y2: 1,
						colorStops: [
							{
								offset: 0,
								color: '#ff8b8d',
							},
							{
								offset: 1,
								color: '#be080b'
							}
						],
						global: false,
					}
				},
				data: data
			}]
		};

		let value = 10;
		function randomData() {
			const Now = new Date();
			value = Math.random() * Math.random() * Math.random() * 3000 + 300 + Math.random() * Math.random() * Math.random() * 500;
			const obj = {
				name: Now.toString(),
				value: [
					Now, Math.round(value)
				]
			}

			return obj;
		};

		window.setInterval(function() {
			const obj = randomData();

			if(60 < data.length) {
				data.shift()
			}
			data.push(obj);

			myChart.setOption({
				series: [{
					data: data
				}]
			});
		}, 1000);
		if (option && typeof option === "object") {
			myChart.setOption(option);
		}


		function loginButton() {
			$.ajax({
				url:'',
				username:'admin',
				password:'admin',
				type:'get',
				success:function(){

				}
			})
		}

		myChart2.setOption({
            tooltip: {
                trigger: "item"
            },
			title: {
				text: "网络设备数量",
				x:"center",
			},
            legend: {
                orient:'horizontal',
                x:'38%',
                y: '9%',
                data:[
                    {
                        name:'交换机',
                        itemStyle:{
                            borderColor:"#0ba5ff"
                        }
                    },
                    {
                        name:'主机',
                        itemStyle:{
                            borderColor:"#6fea5d"
                        }
                    }
                ]
            },
			series : [
				{
					name: '设备个数',
					type: 'pie',
					radius: '55%',
					data:[
						{value:2, name:'交换机'},
						{value:5, name:'主机'},
					]
				}
			]
		})
	</script>
</body>
</html>
